@use '../../../styles/global' as style;


.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  background-color: style.$color-blue;
  padding: 2rem;
}

.navigationList {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}