$color-red: #cb2025;
$color-yellow: #f8b334;
$color-light-blue: #00a096;
$color-blue: #646cff;
$color-green: #97bf0d;
$color-white: #ffffff;
$color-black: #1a1a1a;
$color-light-gray: #dddddd;
$color-mostly-white: #fbfbfb;
