$color-red: #cb2025;
$color-yellow: #f8b334;
$color-light-blue: #00a096;
$color-blue: #646cff;
$color-green: #97bf0d;
$color-white: #ffffff;
$color-black: #1a1a1a;
$color-dark-gray: rgba(33, 33, 33, 1);
$color-hover: rgb(75, 74, 74);
$coffee-color: rgba(178, 157, 140, 1);
$color-smoke-white: rgba(242, 240, 238, 1);
$color-light-gray: #dddddd;
$color-mostly-white: #fbfbfb;
