@use "normalize";
@use "colors" as colors;
@forward "colors";

html {
  overflow-x: hidden;
}

body {
  background-color: colors.$color-mostly-white;
  overflow-x: hidden;
}

.listReset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin btnReset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.newsContainer {
  display: grid;
  max-width: 75rem;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  justify-content: center;
  justify-items: center;
  gap: 1rem;
  padding: 0 1rem;
}

@media (max-width: 30rem) {
  .newsContainer {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}