@use "normalize";

.listReset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btnReset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.newsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  justify-content: center;
  gap: 1rem;
}

body {
  background-color: #FBFBFB;
}