@use "normalize";
@use "colors" as colors;
@forward "colors";

.listReset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btnReset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.newsContainer {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  justify-content: center;
  gap: 1rem;
}

body {
  background-color: colors.$color-mostly-white;
}