.signForm {
  max-width: 24rem;
  display: grid;
  grid-row-gap: 2rem;
  background-color: #FBFBFB;
  border-radius: 1.5rem;
  color: #1a1a1a;
  padding: 1rem 5rem;
  filter: drop-shadow(0 17px 46px rgba(92, 99, 107, 0.08));
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 2rem 0 0 0;
}

.formField {
  position: relative;
  display: grid;
  border: none;
  padding: 0;
}

.formLabel {
  display: grid;
  text-align: start;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  transform: translate(1rem, 2rem);
  z-index: -1;
  transition: transform 0.2s ease-out;
}

.formInput {
  min-height: 2.5rem;
  border: 2px solid #DDDDDD;
  border-radius: 0.5rem;
  background-color: transparent;
  outline-width: 0;

  &:focus {
    border: 2px solid #646cff;
  }
}

.formField:focus-within .formLabel,
.formLabel.active {
  transform: translate(0, -0.25rem);
  z-index: 0;
}

.buttonSubmit {
  margin-bottom: 2rem;
  padding-block: 1rem;
  border-radius: 0.75rem;
  background-color: #646cff;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}